
:root {
  --primary-color: #D9E2EC;
  --body-font-weight: 400;
  --body-font-size: 20px;
  --page-header-color: #F7F1F0;
  --page-header__logo-text-font-size: 46px;
  --page-header__logo-color: #102A43;
  --h1-font-size: 30px;
  --h1-font-weight: 700;
  --h2-font-size: 24px;
  --h2-font-weight: 700;
  --h3-font-size: 18px;
  --h3-font-weight: 700;
  --visited-link-color: #003366;
  --active-link-color: #232534;
  --primary-bg-color: #003366;
  --button-text-primary: #003366;
  --secondary-bg-color: #e0b354;
  --button-text-secondary: #2b2b2b;
  --sun-transition-color-From: #edc655;
  --sun-transition-color-to: #f76414;

  }
body{background-color: #D9E2EC;
    font-family: 'Playfair Display', sans-serif;
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    line-height: 1.3; font-weight: bold;}

* {box-sizing: border-box;}
.containerBackground{
    background: rgb(128, 232, 200);
    background: linear-gradient(180deg,
    rgba(128, 232, 216, 1) 0%,
    rgba(122, 197, 245, 1) 17%,
    rgba(128, 239, 255, 1) 53%,
    rgba(128, 255, 200, 1) 65%,
    rgba(122, 245, 157, 1) 100%
  );
  }
.page-header {display: flex;
              width: 100%;
              padding: 10px;
              background-color: var(--page-header-color)
            }
.page-header__logo-text {font-size: var(--page-header__logo-text-font-size);
              font-family: 'Lilita One', sans-serif;
              color: var(--page-header__logo-color);flex: 0 1 200px;}
.page-header__item:last-child{flex-grow: 1;
                              text-align: right;}

.navigation__logo {position: center;
                  top: 20px;
                  left: 20px;}

.navigation-list {list-style-type: none;}
.navigation-list li{display: inline-block;margin-left: 15px}

.profile__portrait {float: left;
                    width: 250px;
                    margin-right: 40px;
                    height: auto;
                    margin-right: 40px;
                    border-radius: 50%;}
.profile {max-width: 600px;
          margin: 0 auto;
          padding: 20px;}

.About {min-width: 500px;
        min-width: 700px;
        margin:0 auto;
        height: auto;}

h1 {font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);}

h2 {font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);}

h3 {font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);}

a {color: #black;}

a:hover,
a:focus {text-decoration: none;}

a:visited {color: var(visited-link-color);}

a:active {color: var(active-link-color);}

input,texture,select,button {font-family: system-ui;}

button {border: none;
        font-family: inherit;
        background-color: var(primary-bg-color);
        color: var(button-text-primary);
        text-decoration: none;
        padding: 1px;
        border-radius: 1px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);}

button:hover,
button:focus {cursor: pointer;
              opacity: 0.3;}

.button__secondary {background-color: var(secondary-bg-color);
                    color: var(button-text-secondary);}

.navigation-list__item--active {text-decoration: none;}
.page-footer {clear: both;
              display: flex;
              flex-direction: column;
              text-align: center;
              bottom: auto;
              }

.contact-section {text-align: center;}
.about-section {text-align: center;}
.hobbies {text-align: center;
          border: 1px solid #102A43;}
.hobbies td {border-top: 1px solid #102A43;
              padding-left: 5px;}

.grid__item {display: inline-block;
  width: 33%;}
.grid {display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;}
.grid__item {background-color: lightgray;
  padding: 10px; width: auto;}
.grid__item:last-child {
  grid-column-start:2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;}

@media all and (max-width: 500px) {
    /* shared code */
}
@media all and (max-width: 500px){
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width:750px) {
  .grid {
    grid-gap: 10px
  }
  .grid__item: last-child {
    grid-column: auto/auto;
    grid-row: auto/auto;
  }
  h1 {
    font-size: 22px
  }
}
button,
  .button1,
  .button2,
  .button3,
  .my-input {
    /* your styling goes here */
  }

  button,
  .button {
    /*your styling goes here */
  }
button: hover,
button: focus,
.button:hover,
.button:focus {
  /*your styling goes here */
}
.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /*style button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /*width of the border, type, color */
  border-bottom: 2px solid rgba (0,0,0,0.3);
  transition: 0.2s opacity;
}

button: hover,
button: focus,
.button:hover,
.button:focus{
  /*lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the botton to 80% */
  opacity: 0.8;
}

@keyframes color-change {
  From {
    fill: var(sun-transition-color-From);
  }
  to {
    fill: var(sun-transition-color-to);
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 50s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 50s cloud-move-reverse infinite alternate linear;
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.rotate-vert-center {
  -webkit-animation: rotate-vert-center 3.0s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
